<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
 <h4 [ngStyle]="{'color':'orange'}" >
  Example 1 of ngStyle directive, the text color is orange
 </h4>  

 <h4 [ngStyle]="{'font-style':style,'font-size':'fsize'}" >

  hello how are u?

</h4>



<div [ngStyle]="addStyles">
Displays different styles
</div>
<button (click)="addStylesFunc()">Displays Styles </button>

<h4>
<p>ngStyle directive example</p>
<ul *ngFor="let i of studentDtls">
<div [ngStyle]="{'color':i.Rollno > 2 ? 'red':'green'}">
Displays different styles
</div>
</ul>
</h4>


